[core]
    editor = vim
[color]
	diff = auto
	branch = auto
	status = auto
[user]
	name = Val95240
	email = Valentin.GUILLET@student.isae-supaero.fr
[alias]
	br = branch
	cam = commit -am
	cm = commit -m
	co = checkout
	l = log --oneline --graph --decorate --all --color --abbrev-commit -n 10
    la = log --graph --all --pretty=format:'%C(yellow)%h%Creset %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset %s' --abbrev-commit
	ll = log --oneline --graph --decorate --all --color --abbrev-commit
	last = log -1 HEAD
    ls = ls-files --exclude-standard
	st = status -s
	unstage = reset HEAD --
[push]
	default = simple
