*
*/
!.bashrc
!.gitconfig
!.gitignore
!.inputrc
!.profile
!.tmux.conf
!.vimrc

!.config/
!.config/sublime-text-3/
!.config/sublime-text-3/Packages/
!.config/sublime-text-3/Packages/User/
!.config/sublime-text-3/Packages/User/*
.config/sublime-text-3/Packages/User/Package\ Control*

!.config/tmux/
!.config/tmux/*
