*
*/
!.bashrc
!.inputrc
!.pdbrc
!.profile
!.tmux.conf

!.config/
!.config/bash/
!.config/bash/aliases
!.config/bash/functions

!.config/
!.config/dconf/
!.config/dconf/conf

!.config/git/
!.config/git/config

!.config/my_config/
!.config/my_config/*

!.config/pdb/
!.config/pdb/*

!.config/python
!.config/python/*

!.config/readline
!.config/readline/*

!.config/sublime-text-3/
!.config/sublime-text-3/Packages/

!.config/sublime-text-3/Packages/Jump\ Along\ Indent/
!.config/sublime-text-3/Packages/Jump\ Along\ Indent/*

!.config/sublime-text-3/Packages/MaxPane/
!.config/sublime-text-3/Packages/MaxPane/*

!.config/sublime-text-3/Packages/MultiEditUtils/
!.config/sublime-text-3/Packages/MultiEditUtils/*

!.config/sublime-text-3/Packages/ProjectManager/
!.config/sublime-text-3/Packages/ProjectManager/*

!.config/sublime-text-3/Packages/Vintage/
!.config/sublime-text-3/Packages/Vintage/*

!.config/sublime-text-3/Packages/User/
!.config/sublime-text-3/Packages/User/*
.config/sublime-text-3/Packages/User/Package\ Control*
.config/sublime-text-3/Packages/User/SBSCompare*

!.config/sublime-merge/
!.config/sublime-merge/Packages/
!.config/sublime-merge/Packages/User/
!.config/sublime-merge/Packages/User/*

!.config/tmux/
!.config/tmux/*
.config/tmux/buffer_cmd

!.config/vimium/
!.config/vimium/*

!.config/youtube-dl/
!.config/youtube-dl/*

!.vim/
!.vim/*
!.vim/filetype.vim
!.vim/after/
!.vim/after/ftplugin/
!.vim/after/ftplugin/*
!.vim/autoload/
!.vim/autoload/*
!.vim/colors/
!.vim/colors/*
!.vim/doc/
!.vim/doc/*
!.vim/ftdetect/
!.vim/ftdetect/*
!.vim/ftplugin/
!.vim/ftplugin/*
!.vim/indent/
!.vim/indent/*
!.vim/plugin/
!.vim/plugin/*
!.vim/registry/
!.vim/registry/*
!.vim/syntax/
!.vim/syntax/*
.vim/.netrwhist

