*
*/
!.bashrc
!.gitmodules
!.pdbrc
!.profile

!.config/
!.config/bash/
!.config/bash/aliases
!.config/bash/functions
!.config/bash/paths

!.config/bat/
!.config/bat/**

!.config/config_switcher/
!.config/config_switcher/**
.config/config_switcher/backup/
.config/config_switcher/status

!.config/dconf/
!.config/dconf/conf

!.config/fuzzy_complete/
!.config/fuzzy_complete/**

!.config/git/
!.config/git/**

!.config/keyboard/
!.config/keyboard/**

!.config/pdb/
!.config/pdb/**

!.config/powershell/
!.config/powershell/**

!.config/ptpython
!.config/ptpython/**

!.config/python
!.config/python/**

!.config/readline
!.config/readline/**

!.config/ruff/
!.config/ruff/**

!.config/sublime-text/
!.config/sublime-text/Packages/

!.config/sublime-text/Packages/BetterFindBuffer/
!.config/sublime-text/Packages/BetterFindBuffer/FindResults.hidden-tmTheme

!.config/sublime-text/Packages/Default/
!.config/sublime-text/Packages/Default/symbol.py

!.config/sublime-text/Packages/Jump\ Along\ Indent/
!.config/sublime-text/Packages/Jump\ Along\ Indent/*

!.config/sublime-text/Packages/LSP/
!.config/sublime-text/Packages/LSP/*

!.config/sublime-text/Packages/MaxPane/
!.config/sublime-text/Packages/MaxPane/*

!.config/sublime-text/Packages/MultiEditUtils/
!.config/sublime-text/Packages/MultiEditUtils/*

!.config/sublime-text/Packages/ProjectManager/
!.config/sublime-text/Packages/ProjectManager/*

!.config/sublime-text/Packages/Vintage/
!.config/sublime-text/Packages/Vintage/*

!.config/sublime-text/Packages/User/
!.config/sublime-text/Packages/User/*
.config/sublime-text/Packages/User/Package\ Control*
.config/sublime-text/Packages/User/SBSCompare*

!.config/sublime-merge/
!.config/sublime-merge/Packages/
!.config/sublime-merge/Packages/User/
!.config/sublime-merge/Packages/User/*

!.config/tmux/
!.config/tmux/**

!.config/vim/
!.config/vim/**

!.config/vimium/
!.config/vimium/**

!.config/vscode/
!.config/vscode/**

!.config/wget/
!.config/wget/**

!.config/windows_terminal/
!.config/windows_terminal/**

!.config/youtube-dl/
!.config/youtube-dl/**
